<h1 class="mt-4" id="test">Welcome to your Dashboard</h1>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <h1><img src="https://ulimidoes.com/wp-content/uploads/2018/07/Asset-8@2x.png" height="50" width="50"/></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports">Reports</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
          </form>
        </div>
      </nav>
<p class="lead mb-3">Welcome <%= user.name %></p>
<% include ./partials/messages %>
<button id="clock_in"  class="btn btn-primary">Clock In</button>
<button id="clock_out" class="btn btn-primary">Clock Out</button>
<% if(user.clockedIn == true) { %>
  <script>
    document.getElementById("clock_in").disabled = true;
  </script>
<% } %>
<% if(user.clockedIn == false) { %>
  <script>
    document.getElementById("clock_out").disabled = true;
  </script>
<% } %>


<script>
  
  document.getElementById("clock_in").addEventListener("click", async _ => {
    document.getElementById("clock_in").disabled = true;
    fetch('/clockIn', {method: 'POST'})
    .then(function(response) {
      if(response.ok) {
        console.log('Click was recorded');
        
        return;
      }
      throw new Error('Request failed.');
    })
    .catch(function(error) {
      console.log(error);
    });
    setTimeout( () => {
      window.location.reload();
      
    }, 300 );
  });
  document.getElementById("clock_out").addEventListener("click", async _ => {
    document.getElementById("clock_out").disabled = true;
    fetch('/clockOut', {method: 'POST'})
    .then(function(response) {
      if(response.ok) {
        console.log('Click was recorded');

        return;
      }
      throw new Error('Request failed.');

    })
    .catch(function(error) {
      console.log(error);
    });
  
    setTimeout( () => {
      window.location.reload();
      
    }, 300 );
  });
</script>

